<p>creer-tournois works!</p>

<form (ngSubmit)="insert_one()" class="container mt-4">
  <div class="form-group">
    <label for="intitule">Intitulé du tournoi:</label>
    <input type="text" id="intitule" [(ngModel)]="data.intitule" name="intitule" required>
  </div>
  <div class="form-group">
    <label for="lieu">Lieu du tournoi:</label>
    <input type="text" id="lieu" [(ngModel)]="data.lieu" name="lieu" required>
  </div>
  <div class="form-group">
    <label for="date">Date du tournoi:</label>
    <input type="text" id="date" [(ngModel)]="data.date" name="date" required>
  </div>
  <div class="form-group">
    <label for="Format">Format :</label>
    <select id="format" name="format" required [(ngModel)]="data.format">
      <option value="">Choisir...</option>
      <option value="Simple">Simple Homme</option>
      <option value="Simple">Simple Femme</option>
      <option value="Mixte">Mixte</option>
    </select>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Créer</button>
  </div>
</form>
