<p>liste-tournois works!</p>
<!--
<button class="btn btn-primary mb-3" (click)="find_all()">Rafraîchir</button>

<div *ngIf="data">

  <ul>

    <li *ngFor="let tournois of data" class="list-group-item d-flex justify-content-between align-items-center">
      {{ tournois.intitule }}
      <a routerLink="/details-tournois/{{tournois._id}}">détails</a>
    </li>

  </ul>

</div>

<button class="btn btn-primary mb-3" (click)="find_all()">Rafraîchir</button>

<div *ngIf="data">
-->

<button class="btn btn-primary mb-3" (click)="find_all()">Rafraîchir</button>

<div *ngIf="data">
  <ul>

    <li *ngFor="let tournois of data" class="list-group-item d-flex justify-content-between align-items-center mb-2">
      <span>
        {{ tournois.intitule }}
         <a class="btn btn-info btn-sm" routerLink="/details-tournois/{{tournois._id}}">Détails</a>
      </span>
    </li>

  </ul>

</div>
