<p>details-tournois works!</p>

<div class="container">
  <div *ngIf="data">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li *ngFor="let tournois of data" class="list-group-item">
            <h3>{{ tournois.intitule }}</h3>
            <p class="lead"><strong>Lieu:</strong> {{ tournois.lieu }}</p>
            <p class="lead"><strong>Date:</strong> {{ tournois.date }}</p>
            <p class="lead"><strong>Horaires:</strong> {{ tournois.horaires }}</p>
            <p class="lead"><strong>Format:</strong> {{ tournois.format }}</p>
            <h4 class="mt-4">Matches:</h4>
            <ul class="list-group">
              <li *ngFor="let matche of tournois.matches" class="list-group-item">
                {{ matche.joueur1.prenom }} contre {{ matche.joueur2.prenom }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




